<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collegelove">
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/clv"
        android:label="@string/cl"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/clv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cl2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cl3"
            android:parentActivityName=".cl2" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".settingaccount"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activitystatus"
            android:parentActivityName=".settingaccount" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".chgbio"
            android:parentActivityName=".settingaccount" />
        <activity
            android:name=".alluser"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".viewothersprofile"
            android:parentActivityName=".alluser" />
        <activity
            android:name=".passwordreset"
            android:parentActivityName=".cl2" />
        <activity android:name=".chat" android:parentActivityName=".MainActivity" />
    </application>

</manifest>